<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About the Eagle Eye Project</title>
</head>
<body>
<center><h1>About Us</h1></center>
<center>
    <pre>
<p style="font-size:xx-large"> 
    Eagle Eye is a software made to help network engineers and penetration testers scan the networks they need to examine efficiently and easily.  
    The project contains many tools made in order to simplify and ease the work of examining and testing a network's security.
    This project was developed by Ofek Erez as the CyberSecurity project for the Computer Science major. 
    Disclaimer: We are not responsible for any illegal use of the any of the tools in this project.
</p>
</pre>
</center>
</body>
</html>