<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
    <title>Authentication</title>

</head>
<body>

<center><h1>Authentication</h1></center>
<center>

    <div class="grid">
        <form method="post" action="/getemail">
        <div class="row">
            <div class="cell-6 offset-2">
                 <input name="email" type="text" data-role="materialinput" placeholder="Enter your email" id="email">
             </div>
             <div class="cell-2">
               <button class="button flat-button dark shadowed" id="btnScan" >Send code</button>
            </div>
        </div>
   </div>
</form>
</center>

</body>
</html>