<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body>
    <script>
        function check_form(){
        var password = document.my_form.password.value;
        var auth_password = document.my_form.authpass.value;
        if(password.length < 6)
        {
            alert("You must Enter valid new password with at least 6 digits.");
            return false;
        }
        if(auth_password.length < 6)
        {
            alert("You must Enter valid authentication to the password.");
            return false;
        }
        if(auth_password !== password)
        {
            alert("You must Enter valid authentication to the password.");
            return false;
        }
        if(document.my_form.authcode.value.length != 8)
        {
            alert("You must enter the 8 digits code you received on your email.");
            return false;
        }
        return true;
    }
    </script>
<center><h1>Reset Password</h1></center>
<center>
   <div class="grid">
        <div class="row">
            <form name="my_form" method="post" action="/resetdone">
            <div class="cell-6 offset-2">
                 <input name="password" type="text" data-role="materialinput" placeholder="Enter your new password" id="pass">
             </div>
                <div class="cell-6 offset-2">
                 <input name="authpass" type="text" data-role="materialinput" placeholder="Verify your new password" id="authpass">
             </div>
            <div class="cell-6 offset-2">
                 <input name="authcode" type="text" data-role="materialinput" placeholder="Enter The Code You Received" id="authcode">
             </div>
             <div class="cell-2">
               <button class="button flat-button dark shadowed" id="btnScan" onclick="check_form()">Reset password</button>
            </div>
                </form>
        </div>
   </div>
</center>
</body>
</html>